    $mutedgray: #F6F6F6;
    $bodyfont: 'arial';
    $navpad: 5px;

    body {
        background: $mutedgray;
        font-family: $bodyfont;
    }

    img {
        width: 100%;
        height: auto;
        max-height: 510px;
    }

    .navbar {
        padding-bottom: $navpad;
        padding-top: $navpad;
    }

    .col-center {
        float: none;
        margin: 0 auto;
    }

    #logo {
        height: 80px;
        width: 80px;
        vertical-align: auto;
    }

    .dayDiv {
        display: inline-block;
        border: solid 1px black;
        border-right: 0px;
        padding-left: 5px;
        padding-right: 5px;
        width: 11%;
        text-align: center;
    }

    .dayDiv:last-child {
        border-right: 1px solid black;
    }